.input-wrapper {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 24px;
}

.input-wrapper--radio-group {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 24px;
}

.input-wrapper--success.input-wrapper--input input,
.input-wrapper--success.input-wrapper--input-group input {
  border: 2px solid var(--color-input-border-success);
}

.input-wrapper--error.input-wrapper--input input,
.input-wrapper--error.input-wrapper--input-group input {
  border: 2px solid var(--color-input-border-error);
}

.input-wrapper--error .input-wrapper__error {
  visibility: visible;
  opacity: 1;
}

.input-wrapper__error {
  position: absolute;
  top: calc(50% + 14px);
  right: -32px;

  max-width: 224px;
  padding: 12px 24px;

  font-weight: 500;
  color: var(--color-text-white);

  background: var(--color-input-border-error);
  border-radius: 4px;
  transform: translate(100%, -50%);
  visibility: hidden;
  opacity: 0;

  transition: opacity var(--transition-base), visibility var(--transition-base);
}

.input-wrapper__error::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 1px;

  border: 7px solid var(--color-transparent);
  border-right: 7px solid var(--color-red);
  transform: translate(-100%, -50%);
}

.input-wrapper input {
  outline: none;
}

.input-wrapper h4 {
  width: 100%;
  margin-bottom: 8px;

  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.input-wrapper--input {
  display: flex;
  width: 484px;
}

.input-wrapper--input-group {
  display: flex;
  width: 484px;
}

.input-wrapper--input input::placeholder {
  color: var(--color-text-grey);
}

.input-wrapper--input input::-ms-input-placeholder {
  color: var(--color-text-grey);
}

.input-wrapper--input input,
.input-wrapper--input-group input {
  width: 100%;
  height: 56px;
  padding: 15px 32px;

  font-weight: 500;
  font-size: 18px;
  line-height: 26px;

  border: 2px solid var(--color-input-border-base);
  border-radius: 4px;

  transition: border var(--transition-base);

  caret-color: var(--color-text-grey);
}

.input-wrapper--input-group input {
  width: 115px;
  margin-right: 8px;
}

.input-wrapper--input-group input:last-of-type {
  margin-right: 0;
}

.input-wrapper--input input:hover,
.input-wrapper--input-group input:hover {
  border: 2px solid var(--color-input-border-hover);
}

.input-wrapper--input input:focus,
.input-wrapper--input-group input:focus {
  border: 2px solid var(--color-input-border-focus);
}

.input-wrapper--radio-group input {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;

  clip: rect(0 0 0 0);
}

.input-wrapper--radio-group label {
  margin: 0 0 3px 3px;
  padding: 12px 24px;

  background: var(--color-radio-base);
  cursor: pointer;
  user-select: none;

  transition: background var(--transition-base), color var(--transition-base);
}

.input-wrapper--radio-group label:hover {
  background: var(--color-radio-hover);
}

.input-wrapper--radio-group input:checked + label {
  color: var(--color-text-white);

  background: var(--color-radio-checked);
}

.input-wrapper--radio-group label:active {
  color: var(--color-text-white);

  background: var(--color-radio-checked-hover);
}

.input-wrapper--radio-group label:first-of-type {
  border-radius: 22px 0 0 22px;
}

.input-wrapper--radio-group label:last-of-type {
  margin-right: 0;

  border-radius: 0 22px 22px 0;
}

.input-wrapper--hidden {
  display: none;
}

.input-wrapper--payment-method {
  margin-bottom: 29px;
}
